<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="module" src="../scripts/index.js" defer></script>
</head>
<body>
  
  <!-- <div id="splash" class="screen">
    <img src="../images/main-page.png" alt="" class="splash__image">
  </div>

  <div id="menu" class="screen">

    <img src="../images/ship1-menu.png" alt="" class="menu__image">

    <div class="menu__options">
      <h1><span class="word1">Battleship</span> <span class="word2">WW2</span></h1>
      <button class="start-btn">Start</button>
      <div class="logo-container">
        <a href="https://github.com/ThomasGhali/battleship-game" target="_blank" rel="noopener noreferrer">
          <img src="../images/github-logo.png" alt="" class="logo">
        </a>
        <img src="../images/linkedin-logo.png" alt="" class="logo">
      </div>
    </div>

    <img src="../images/ship2-menu.png" alt="" class="menu__image" style="margin-right: 10px;"> -->

  </div>

  <div id="place-ships" class="screen active">
    <div class="ships-to-place">
      <div class="ship boat-ship" data-ship-direction="horizontal" data-ship-length="1" data-x="0" data-y="0">

        <div class="ship__details">
          <p class="ship__name">Patrol Boat</p>
        </div>

        <img src="../images/tile-1.png" alt="Patrol Boat" class="ship__img boat" >

      </div>

      <div class="ship submarine-ship" data-ship-direction="horizontal" data-ship-length="2" data-x="0" data-y="0">

        <div class="ship__details">
          <p class="ship__name">Submarine</p>
          <button class="ship__rotate">Rotate</button>
        </div>

        <img src="../images/tile-2.png" alt="Submarine" class="ship__img submarine">

      </div>

      <div class="ship destroyer-ship" data-ship-direction="horizontal" data-ship-length="3" data-x="0" data-y="0">

        <div class="ship__details">
          <p class="ship__name">Destroyer</p>
          <button class="ship__rotate">Rotate</button>
        </div>

        <img src="../images/tile-3.png" alt="Destroyer" class="ship__img destroyer">

      </div>

      <div class="ship battleship-ship" data-ship-direction="horizontal" data-ship-length="4" data-x="0" data-y="0">

        <div class="ship__details">
          <p class="ship__name">Battleship</p>
          <button class="ship__rotate">Rotate</button>
        </div>

        <img src="../images/tile-4.png" alt="Battleship" class="ship__img battleship">

      </div>

      <div class="ship carrier-ship" data-ship-direction="horizontal" data-ship-length="5" data-x="0" data-y="0">

        <div class="ship__details">
          <p class="ship__name">Aircraft Carrier</p>
          <button class="ship__rotate">Rotate</button>
        </div>

        <img src="../images/tile-5.png" alt="Aircraft Carrier" class="ship__img carrier" >

      </div>

    </div>

    <div class="placing-section">
      <div class="board-wrapper">
        <h1 class="board-header">Place your ships, commander</h1>
        <div class="placing-board">
        </div>
      </div>
      <div class="place-more">
        <ul class="place-notes">
          <li class="note">Many players avoid the center — placing ships near the middle can trick them.</li>
          <li class="note">Don’t make patterns (like lines or corners); randomness is your friend.</li>
        </ul>
        <button class="start-game-btn"> Start Battle</button>
        <button class="random-place-btn">Auto place ships</button>
        <button class="reset-board-btn">Reset</button>
      </div>
    </div>

  </div>

</body>
</html>