<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="module" src="../scripts/index.js" defer></script>
</head>
<body>
  
  <div id="splash" class="screen">
    <img src="../images/main-page.png" alt="" class="splash__image">
  </div>

  <div id="menu" class="screen">

    <img src="../images/ship1-menu.png" alt="" class="menu__image">

    <div class="menu__options">
      <h1><span class="word1">Battleship</span> <span class="word2">WW2</span></h1>
      <button class="start-btn">Start</button>
      <div class="logo-container">
        <a href="https://github.com/ThomasGhali/battleship-game" target="_blank" rel="noopener noreferrer">
          <img src="../images/github-logo.png" alt="" class="logo">
        </a>
        <img src="../images/linkedin-logo.png" alt="" class="logo">
      </div>
    </div>

    <img src="../images/ship2-menu.png" alt="" class="menu__image" style="margin-right: 10px;">

  </div>

</body>
</html>