body {
  margin: 0;
  height: 100vh;
  background-color: #080807;
  overflow: hidden;
}

/* =====================
    splash screen
  =====================
*/
.screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #080807;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.splash__image {
  width: 40vw;
}
/* =====================
    menu screen
  =====================
*/

#menu {
  display: none;
  background-color: #010308;
  justify-content: space-between;
  min-width: 550px;
  position: absolute;
}

#menu.active {
  display: flex;
}

.menu__image {
  width: max(100px, 15vw);
}

.menu__options {
  width: max(500px, 35vw);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

.menu__options > h1 {
  font-size: 3rem;
}

.word1 {
  color: rgb(129, 129, 253);
  text-shadow: 0px 0px 4px rgb(112, 112, 251);
}

.word2 {
  color: rgb(255, 106, 106);
  text-shadow: 0px 0px 4px rgb(251, 112, 112);
}

.start-btn {
  appearance: none;
  background: transparent;
  color: white;
  width: 60%;
  height: 60px;
  border-radius: 80px;
  border: 1px solid white;
  font-size: 1.5rem;
  cursor: pointer;
}

.start-btn:hover {
  background: rgba(0, 0, 255, 0.188);
}

.start-btn:active {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.219);
}

.logo-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}