html, body {
  margin: 0;
  height: 100vh;
  background-color: #080807;
  overflow: hidden;
}

/* =====================
    splash screen
  =====================
*/
.screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #080807;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.splash__image {
  width: 40vw;
}
/* =====================
    menu screen
  =====================
*/

#menu {
  background-color: #010308;
  justify-content: space-between;
  min-width: 550px;
  position: absolute;
  height: 100vh;
  z-index: 3;
}

.menu__image {
  width: max(100px, 15vw);
}

.menu__options {
  width: max(500px, 35vw);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

.menu__options > h1 {
  font-size: 3rem;
}

.word1 {
  color: rgb(129, 129, 253);
  text-shadow: 0px 0px 4px rgb(112, 112, 251);
}

.word2 {
  color: rgb(255, 106, 106);
  text-shadow: 0px 0px 4px rgb(251, 112, 112);
}

.start-btn {
  appearance: none;
  background: transparent;
  color: white;
  width: 60%;
  height: 60px;
  border-radius: 80px;
  border: 1px solid white;
  font-size: 1.5rem;
  cursor: pointer;
}

.start-btn:hover {
  background: rgba(0, 0, 255, 0.188);
}

.start-btn:active {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.219);
}

.logo-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

/* =====================
    place ships screen
  =====================
*/

#place-ships {
  display: flex;
  position: absolute;
  color: white;
  padding: 5px;
  margin: 5px 10px;
  column-gap: 20px;
  z-index: 2;
  align-items: center;
}

.ships-to-place {
  outline: 1px solid white;
  border-radius: 10px;
  overflow: auto;
  height: 90%;
  width: 40%;
  min-width: 350px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  padding: 5px;
  margin-left: 15px;
}

.ship {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 5px;
}

.ship__name {
  margin: 0px;
}

.ship__details {
  display: flex;
  column-gap: 12px;
}

.ship__rotate {
  appearance: none;
  background: transparent;
  color: white;
  height: 21px;
}

.boat-ship {
  width: 90px;
  height: 130px;
}

.boat {
  width: 50px;
}

.submarine-ship {
  width: 150px;
  height: 130px;
}

.submarine {
  width: 100px;
}

.destroyer-ship {
  height: 225px;
}

.destroyer {
  width: 150px;
}

.battleship {
  width: 200px;
}

.carrier-ship {
  grid-area: 3 / 1 / -1 / -1;
}

.carrier {
  width: 250px;
}

::-webkit-scrollbar {
  width: 7px; 
  height: 7px;;
}

::-webkit-scrollbar-track {
  background: #292828;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 10px;
} 

.placing-section {
  display: flex;
  align-self: start;
  column-gap: 10px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placing-board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 450px;
  height: 450px;
  aspect-ratio: 1/1;
  background-color: rgb(9, 44, 44);
}

.tile {
  background-color: rgb(9, 44, 44);
  outline: 1px solid white;
}

.tile:hover {
  background-color: rgb(19, 91, 91);
}

.place-more {
  align-self: center;
  text-align: center;
}

.place-notes {
  margin-bottom: 20px;
  width: 90%;
  justify-self: center;
}

.note {
  margin-bottom: 15px;
}

.start-game-btn {
  appearance: none;
  background: transparent;
  color: white;
  width: 60%;
  height: 60px;
  border: 1px solid white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 15px;
}

.start-game-btn:hover {
  background: rgba(255, 0, 0, 0.153);
  box-shadow: 0px 0px 4px 1px rgba(255, 0, 0, 0.289);
}

.start-game-btn:active {
  background: rgba(255, 69, 69, 0.153);
  box-shadow: 0px 0px 4px 3px rgba(255, 0, 0, 0.289);
}

.random-place-btn {
  appearance: none;
  background: transparent;
  color: white;
  width: 60%;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.random-place-btn:hover {
  background-color: #717171;
}

.random-place-btn:active {
  background-color: #464646;
}

/* --- smaller screen style --- */

@media (max-width: 1150px) {
  .placing-board {
    width: 300px;
    height: 300px;
  }

  .placing-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .board-header {
    font-size: 1.4rem;
  }
}